.Projects {
    display: flex;
    flex-direction: column;
    margin: 15%;
    justify-content: center;
    align-items: center;
}

.Projects h1  {
    font-size: 32px;
    margin: 0;
    padding-bottom: 25px;

}

.projects_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-card {
    /* background-color: #fff; */
    /* border: 1px solid #e1e4e8; */
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 16px;
    /* padding: 16px; */
    width: 400px;
}

